{% extends 'sdufy/index.html' %}
{% block content %}
      <div class="spotify-playlists">
        <h2>Spotify Playlists</h2>
          <div class="list">
        {% for music in musics %}

          <div class="item">
            <img src="{{music.coverMusic.url}}" />
            <div class="play">
              <span class="fa fa-play"></span>
            </div>
            <h4>{{music.title}}</h4>
            <p>{{music.artist}}</p>
          </div>

        {% endfor %}
              </div>
      </div>
{% endblock %}