<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spotify - Web Player: Music for everyone</title>
    <link rel="stylesheet" href="{% static 'style/profile.css' %}">
    <style>
        table {
            counter-reset: rowNumber;
        }

        table tr:not(:first-child) {
            counter-increment: rowNumber;
        }

        .table__data::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
        }


    </style>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <ul class="header__nav">
                <li>
                    <a href="" class="row">
                        <img src="{% static 'img/icon/left.svg' %}" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="" class="row"
                    ><img src="{% static 'img/icon/right.svg' %}" alt=""
                    /></a>
                </li>
            </ul>

        </div>
    </div>
</header>
<section class="leftBar">
    <div class="leftBar__wrapper">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/icon/logo.svg' %}" alt=""/>
        </a>
        <div class="leftBar__center">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/icon/home.svg' %}" alt=""/>
                Главная
            </a>
            <a href="{% url 'search' %}">
                <img src="{% static 'img/icon/search.svg' %}" alt=""/>
                Поиск</a
            >
            <a href="{% url 'playlist' %}">
                <img src="{% static 'img/icon/playlist.svg' %}" alt=""/>
                Моя медиатека</a
            >
        </div>

        <div class="leftBar__bottom">
            <a href="{% url 'createPlaylist' %}">
                <img src="{% static 'img/icon/plus.svg' %}" alt=""/>
                Создать плейлист</a
            >
            <a href="{% url 'favourite' %}">
                <img src="{% static 'img/icon/favourite.svg' %}" alt=""/>
                Любимые треки</a
            >
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="content__wrapper">
            <div class="content__top">
                <div class="content__top__left">
                    <img src="{% static 'img/skin.png' %}" alt=""/>
                </div>
                <div class="content__top__right">
                    <h4>Плейлист</h4>
                    <h1 class="content__top__title">goosebumps</h1>
                    <p class="content__top_timer">примерно 5ч.</p>
                </div>
            </div>
            <ul class="btn__list">
                <li class="btn__item">
                    <a href="">
                        <img src="{% static 'img/icon/play.svg' %}" alt=""/>
                    </a>
                </li>
                <li class="btn__item">
                    <a href="">
                        <img src="{% static 'img/icon/like.svg' %}" alt=""/>
                    </a>
                </li>
                <li class="btn__item">
                    <a href="">
                        <img src="{% static 'img/icon/dots.svg' %}" alt=""/>
                    </a>
                </li>
            </ul>
            <table class="table">
                <tr class="table__row">
                    <td>#</td>
                    <td>Title</td>
                    <td>Date added</td>
                    <td><img src="{% static 'img/icon/duration.svg' %}" alt=""/></td>
                </tr>
                {% for playlist in playlistUser %}
                {% for eplaylist in playlist %}
                <tr class="table__row">
                    <td class="table__data">
                        <a href="{% url 'playlist2'  eplaylist.id %}">
                            <img width="40px" src="{{ eplaylist.coverPlaylist.url }}" alt=""/>{{ eplaylist.title }}
                        </a>
                    </td>
                    <td>3 month ago</td>
                    <td>3:12</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
</section>
</body>
</html>
